# EASTD143B Python Basics I
* Time of meeting: 15:45-17:45, **16 Febrary 2023**
* Instructor: Kwok-leong Tang

## Jupyter Notebook
* Cell (code or markdown);
* Excute each cell;
* Preserve output;
* Reproduce the same result;

In [ ]:
print("Hello World!")

# Differences between human and machine

## Making an omelette (human): [source](https://www.simplyrecipes.com/recipes/how_to_make_an_omelet/)
* Beat the eggs: Use two or three eggs per omelette, depending on how hungry you are. Beat the eggs lightly with a fork.
* Melt the butter: Use an 8-inch nonstick skillet for a 2-egg omelette, a 9-inch skillet for 3 eggs. Melt the butter over medium-low heat, and keep the temperature low and slow when cooking the eggs so the bottom doesn’t get too brown or overcooked.
* Add the eggs: Let the eggs sit for a minute, then use a heatproof silicone spatula to gently lift the cooked eggs from the edges of the pan. Tilt the pan to allow the uncooked eggs to flow to the edge of the pan.
* Fill the omelette: Add the filling—but don’t overstuff the omelette—when the eggs begin to set. Cook for a few more seconds
* Fold and serve: Fold the omelette in half. Slide it onto a plate with the help of a silicone spatula.

## Making an omelette (machine/robot)

In [ ]:
%%html
<iframe width="560" height="315" src="https://www.youtube.com/embed/sq-n-0Ux3lA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

# Basic concepts

## Syntax
Syntax: the arrangement of components to create a sentence

### Comments
Adding comments to your code to provide explanations, notes, or documentation for other people who might read your code.
Adding comments is also a way to communicate with the Copilot in GitHub Codespaces. Copolit will generate code based on your comments.

In [ ]:
# A single-line comment starts with a "#."
# the keyboard shortcut is (cmd|ctrl)-/
print("Remember to comment!") # The comment can start at the end of a code statement.
# Add comments when you think they are neccessary.

# This is a comment.
print("This is a line I dont want!")

In [ ]:
# This is a single line comment

In [ ]:
"""
This is a multi-line comment
It can span multiple lines
"""

In [ ]:
'''
This is a multi-line comment
It can span multiple lines
'''

In [ ]:
# Try to do something with copilot in this cell.

### Indentation
In Python, indentation is used to define blocks of code, such as loops, functions, and class definitions. The amount of indentation used determines the scope of the code block.

In [ ]:
# An example of nest indentation
for i in range(10):
    if i % 2 == 0:
        print(i)
    else:
        print("odd")

## PEP 8
A style guide is a document that describes good programming practices. [PEP 8](https://www.python.org/dev/peps/pep-0008/) is the style guide for Python. When you have any questions about the conventions (e.g. naming variables, indentation, ...), please check PEP 8 for the best reference.

## Variables

Variables are containers for storing values.

In [ ]:
# Assigning a storage location to store a value
# Creating a variable with a "=".
# On the left side of the "=" is the variable name. On the right side is the value.
# The "=" does not mean equal in assigning variable.

w = 5 
y = "I love dim sum!"

print(w)
print(y)

## Functions

A function is a block of code that runs when it is called. You can pass data (arguments) into a function, and the function can return data.
<br>
Reference: http://python-textbook.pythonhumanities.com/01_intro/01_04-02_functions.html

In [ ]:
def make_one_omelet(): # define the function
    print("A omelette is ready!")

make_one_omelet() # call the function

In [ ]:
make_one_omelet()
make_one_omelet()
make_one_omelet()

In [ ]:
def make_omelets(number):
    print("I made " + number +" omelets!")

make_omelets("five")

In [ ]:
# make ten omelets
make_omelets("ten")

In [ ]:
def make_omelets(number):
    print("I made " + number +" omelets!")

print("How many omelets do you need?")
x = input()
make_omelets(x)

**Question: Is print() a function?**

In [ ]:
# type()
type(print)

## Data types

Data types are different forms of data. The common python build-in data types include but are not limited to string(str), integer(int), float, complex, and boolean(bool). Libraries and modules may have specific data types, for example dataFrame for pandas.

http://python-textbook.pythonhumanities.com/01_intro/01_02-02_data.html

In [ ]:
# The way of assigning a variable determines its data type.

a = 5
b = 5.0
c = "5"
d = {5}
e = [5]
f = ("5", "five")
g = True
h = {"value": 5}

In [ ]:
print(a)
print(type(a))

In [ ]:
print(b)
print(type(b))

In [ ]:
print(c)
print(type(c))

In [ ]:
print(d)
print(type(d))

In [ ]:
print(e)
print(type(e))

In [ ]:
print(g)
print(type(g))

In [ ]:
# assigning "empty" variables with constrcutor functions 
o = str()
p = int()
q = float()
t = bool()

print(o)
print(type(o))
print(p)
print(type(p))
print(q)
print(type(q))
print(t)
print(type(t))

In [ ]:
p = "67848.0"

print(p)
print(type(p))

In [ ]:
# reassingning values to variables
t = True
o = 4
p = 4
q = 4

print(o)
print(p)
print(q)
print(t)

## Mixing data types?

In [ ]:
# numeric types
m = 4.44444
n = 4

print(type(m))
print(type(n))
print(m + n)
print(type(m+n))

In [ ]:
# string and numeric
string_1 = "My lucky number is "
number_1 = 11

print(type(string_1))
print(type(number_1))

In [ ]:
# can we print them together?
print(string_1 + number_1)

In [ ]:
# what should we do?
print(string_1 + str(number_1))
print(type(str(number_1)))

In [ ]:
# how about boolean and string

string_2 = "The statement 'true is false' is "
boolean_2 = False

print(string_2 + boolean_2)

In [ ]:
print(string_2 + str(boolean_2))

### Methods
Data or class has **methods**.

In [ ]:
string_3 = "My lucky number is 23 and 45"
print(string_3.upper()) # .upper() is a method to change the string to upper case.

In [ ]:
# Did string_3 change?
print(string_3)

In [ ]:
# change the string to lower case permanently
string_3 = string_3.lower()

print(string_3)

## Data Structures

Data structures are ways of storing multiple kinds of data in a systematic way.

http://python-textbook.pythonhumanities.com/01_intro/01_02-03_data_structures.html

### Lists
Lists store ordered, changeable, and indexed data into a single variable. It is similar to array in other programmming languages. 

Python is 0-indexing.


Simple reference: https://www.w3schools.com/python/python_lists.asp

Advanced reference: https://docs.python.org/3/tutorial/datastructures.html

In [ ]:
list_of_int = [9, 20, 30, 9]
list_of_float = [4.55, 6.333, 9.1314]
list_of_variables = [number_1, m, n,]

print(list_of_int)
print(list_of_float)
print(list_of_variables)

In [ ]:
list_of_strings = [string_1, string_2]
print(list_of_strings)

In [ ]:
countries = ["Japan", "Korea", "China", "Vietnam", "Singapore", "Russia", "Thailand"]
print(countries)
print(countries[0])
print(countries[3])

In [ ]:
# Negative index
print(countries[-1])
print(countries[-3])

# Get a range
print(countries[2:4]) # The ending index is excluded.

In [ ]:
# Reassign value to a indexed position 
print(countries)

countries[-2] = "Cambodia"
print(countries)

In [ ]:
# Append new values to a list
print(countries)

countries.append("Laos")
countries.append("India")
print(countries)

In [ ]:
# Sort the countries list
print(countries)
countries.sort()
print(countries)

In [ ]:
print(countries)
reverse_countries = countries
reverse_countries.reverse()
print(reverse_countries)

In [ ]:
# Extend lists
print(list_of_variables)
print(list_of_int)
print(list_of_float)

list_of_variables.extend(list_of_int)
print(list_of_variables)

list_of_variables.extend(list_of_float)
print(list_of_variables)

In [ ]:
# Sort a numeric list
print(list_of_variables)

list_of_variables.sort()
print(list_of_variables)

list_of_variables.reverse()
print(list_of_variables)

In [ ]:
# nested list
nested_list = [list_of_strings, list_of_float, list_of_int]
print(new_list)

### Dictionary

Dictionary is one or a collection of key-value pairs.

In [ ]:
## an example of dictionary

data = {
    "name": "John Doe",
    "age": 30,
    "is_married": True,
    "languages": ["English", "Spanish", "French"],
    "address": {
        "street": "123 Main St.",
        "city": "New York",
        "state": "NY",
        "zipcode": 10001
    }
}

In [ ]:
print(data["name"])
print(data["age"])
print(data["is_married"])
print(data["languages"])
print(data["address"])

In [ ]:
print("Name:", data["name"])
print("Age:", data["age"])
print("Married:", data["is_married"])
print("Languages:", data["languages"])
print("Address:", data["address"])

In [ ]:
# Access the "languages" list from the data dictionary
languages = data["languages"]

# Use the append method to add a new language to the list
languages.append("German")
print("After append:", languages)

# Use the insert method to insert a new language at a specific index
languages.insert(1, "Italian")
print("After insert:", languages)

# Use the remove method to remove a specific language from the list
languages.remove("French")
print("After remove:", languages)

# Use the pop method to remove and return the last language from the list
last_language = languages.pop()
print("After pop:", languages)
print("Popped language:", last_language)

# Use the index method to find the index of a specific language
index = languages.index("Spanish")
print("Index of Spanish:", index)

# Use the count method to count the number of times a specific language appears in the list
count = languages.count("English")
print("Count of English:", count)

# Use the sort method to sort the list in ascending order
languages.sort()
print("After sort:", languages)

## Differences: List, Tuple, and Set

There are four collection data types in the Python programming language:

**List** is a collection which is ordered and changeable. Allows duplicate members.

**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

**Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

**Dictionary** is a collection which is ordered** and changeable. No duplicate members. 

(Source: [w3school](https://www.w3schools.com/python/python_tuples.asp))

In [ ]:
# Items in a tuple are unchangeable. 
# When new items are added to a tuple, it becomes a new tuple.

a_tuple = (3, 4, 7, 9, 12, 32)
print(a_tuple)
print(id(a_tuple))

a_tuple += (92, 13, 123, 12, 13, 3, 4)  # short-hand: a_tuple = a_tuple + (92, 13, 123, 12, 13, 3, 4) 
print(a_tuple)
print(id(a_tuple))

In [ ]:
# Items in a list are changeable. 
# When new items are added to a list, it still is the same list.

a_list = [3, 4, 7, 9, 12, 32]
print(a_list)
print(id(a_list))

a_list += [92, 13, 123, 12, 13, 3, 4]  # short-hand: a_list = a_list + (92, 13, 123, 12, 13, 3, 4) 
print(a_list)
print(id(a_list))

In [ ]:
# Tuples only have two methods: index() and count()
# count() finds out how many elements match the value you pass in.
print(a_tuple)
a_tuple.count(12)

In [ ]:
# index() finds the first index of the value you pass in.
a_tuple.index(7)

In [ ]:
# Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
# Set is very useful in removing duplicates.

a_set = {'a', 'b', 'c', 'c', 'b', 'd', 'D', 'A', 'A'}
print(a_set)

In [ ]:
# You can convert a list into a a set by using set().

print(a_list)
b_set = set(a_list)
print(b_set)

In [ ]:
# Exercise

students = ['communication studies', 'anthropology', 'history', 'communication studies', 'economics', 'geography', 
            'region studies', 'history', 'history', 'communication studies', 'comparative literature', 'communication studies', 'behaviour sciences',
            'anthropology', 'history', 'economics', 'geography']


# How many students are in history?


# How many students are in economics?


# How many subjects?

In [ ]:
# How many students are in history?
students_tuple = tuple(students)
print(students_tuple)
students_tuple.count('history')

In [ ]:
students.count('economics')

In [ ]:
students_set = set(students)
print(students_set)
print(len(students_set))

## Conditional statements

Life is about making choices! 

![pills](https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Red_and_blue_pill.jpg/640px-Red_and_blue_pill.jpg)

Conditional statements help your programs to make decisions.

### Operators

* **>** Greater than - Return True if the left one is greater than the right one

* **<** Less than - Return True if the left is less than the right one 

* **==** Equal to - Return True only when both sides are equal

* **!=** Not equal to - Return True if the both sides are not equal

* **>=** Greater than or equal to - Return True when the left one is greater than or equal to the right

* **<=** Less than or equal to - Return True when the left is less than or equal to the right

In [ ]:
a = 10
b = 11

In [ ]:
a == b

In [ ]:
a != b

In [ ]:
a > b

In [ ]:
a < b

In [ ]:
a >= b

In [ ]:
a <= b

### Simple condition

A simple condition creates two or more paths. Using "if-else" statements to create contitions in Python.

In [ ]:
# A simple condition example
# if <expression>:
#    do something    ## be careful of indentations

authorized = False
if authorized: ## if authorized == True
    print("You are authorized!")

In [ ]:
# if...else

authorized = ' '
if authorized == 'Invaders': ## if authorized == True
    print("You are authorized!")
else:
    print("Invaders!")

In [ ]:
from sys import setswitchinterval
# if...elif

age = 80
if age < 21:
    print('You are not allowed to buy alcohol!')
elif age <= 34:
    print('You make more new friends.')
elif age == 35:
    print('Stop searching!')
else: 
    print('I am too old!')

In [ ]:
# nested condition
age = 18
car = 'Ford'

if age >= 18:
    if car in ['Honda', 'Toyota', 'Subaru']:
        print('You bought a Japanese car.') 
    elif car in ['Ford', 'Tesla', 'Jeep']:
        print('You bought an American car.')
else:
    print('You are too young to buy cars!')

In [ ]:
countries = ['China', 'Japan', 'Russia']
destination = 'Korea'

if destination in countries:
    print('I find my destination in the list!')
else:
    print('It is not in the list')

In [ ]:
# Excerise: re-write the code and make it to print 'You bought a Korean car.'

age = 30
car = 'BYD'

if age >= 18:
    if car in ['Honda', 'Toyota', 'Subaru']:
        print('You bought a Japanese car.') 
    elif car in ['Ford', 'Tesla', 'Jeep']:
        print('You bought an American car.')
    elif car in ['Hyundai', 'Kia']:
        print('You bought a Korean car.')
    else:
        print('You bought an unknown car to me.')
else:
    print('You are too young to buy cars!')

## Loops

There are two types of loops in Python: for loop and while loop.

In [ ]:
# for loop
# for x in iterable:
#   # do something
# iterable can be lists, tuples, sets, dictionaries, and even strings 

car_brands = ['Honda', 'Toyota', 'Subaru', 'Ford', 'Tesla', 'Jeep', 'Hyundai', 'Kia', 'BMW', 'Hongqi', 'BYD']
for brand in car_brands: # "brand" is just a container. It can be "i" or "poilkk".  
    print(f'I love {brand}.') #f-string

In [ ]:
item = ["banana", '2', '2']
for i in len(item):
    print(i)

In [ ]:
# use range() function

for i in range(3, 13):
    print(i)

In [ ]:
# while loop
# while <condition>:
    # do something

x = 10
while x > 0:
    print(x)
    x -= 1  # x = x -1

In [ ]:
# Be careful here!

x = 5
while x > 4:
    print(x)
    x += 1

In [ ]:
# Infinite loops are hazardous!
# Use 'break' to stop a loop.

x = 5
while x > 4:
    print(x)
    if x == 15:
        print("This is it!")
        break
    x += 1

# After class readings
Please read chapter 2 and 3 of the first part of the textbook: http://python-textbook.pythonhumanities.com/01_intro/01_02-01_intro.html#

# Final Project (Research journal)

The purpose of a research journal is to track everything related to your research project. The simplest way is to include dates and log in point form. For example,

### 2023-02-20
* Built a list for all the enshrined Confucians in the Confucius Temple.

### 2023-02-23
* Met with Prof. Wang.

### 2023-02-24
* Used [CBDB API](https://projects.iq.harvard.edu/chinesecbdb/cbdb-api) to collect the CBDB person id for all enshrined Confucians. 
* Found [Taipei Confucius Temple Confucian Culture website](https://www.tctcc.taipei).

### 2023-02-25
* Question 1 to ChatGPT: How can I obtain data about Japanese population in United States?
* ChatGPT's response:

Please use a markdown file (.md) to do a research journal. Please make sure that you track **everything**.